
.vertical-space{
  margin: 0 2em;
}
.tabs{
  display: flex;
  background-color: #F0EFEF;
  flex-direction: column;
  justify-content: center;
}
.row-flex{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  padding-bottom: 1%;
  margin-top: -4em;
}
.p-pad{
  padding: 0 5%;
}
.text-left-align{
  text-align: left;
   width:60%; 
   padding: 0 5%; 
   line-height: 1\.5;
}
.canva{
  box-shadow: 2px;
  background-color: white;
  padding: 0% 10% 0% 10%;
  position: relative;
  transform: translateY(25%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.options{
  border-radius: 5%;
  background-color: white;
  text-align: left;
  padding: 0 auto;
  width: 10%;
  margin: 0 2%;
  height:10%;
}
#space{
    padding: 1em 0 0 0 ;
}
#f1,#f2,#f3,#f4,#f5{
    padding-bottom: 1em;
  }